## Navigation
alias _1..="cd ../"
alias _2..="cd ../../"
alias _3..="cd ../../../"
alias _4..="cd ../../../../"
alias _5..="cd ../../../../../"


## Default util alternatives

## List
alias ls="lsd -la --icon=always"
alias lst="lsd -la --tree  --long -G --depth=2"

## Task manager
alias top="bpytop"
alias top_l="top"

## Reads files
alias cat=bat

## File manager
alias rr="ranger"

## Zoxide
alias c="z"
alias cd=z

# Exit
alias x=exit

## HTTP Client
alias http="xh"


## Vim
alias vim=nvim
alias v=nvim
alias vi=nvim

# Tmux 
alias tx=tmux

# ANSI 256-color palette
alias ansi2560="for i in {0..255}; do printf '\x1b[38;5;%dmcolor%-5i\x1b[0m' \$i \$i ; if ! (( (\$i - 3) % 6 )); then echo ; fi ; done"

# Alacritty's tailored nonsense
alias cr=clear & clear 

